.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 150px;
}

.nav-items{
    display: flex;
}

.nav-items > ul{
    display: flex;
}

.nav-items > ul > li{
    list-style-type: none;
    padding: 20px;
    font-size: 20px;
}

.res-card{
    width : 150px;
    padding: 5px;
    margin: 10px;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black ;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.res-img{
    height: 100px;
    width:100%;
}

.restaurant-container{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.loginButton:hover{
    cursor: pointer;
}

.filters{
    display: flex;
}
.search{
    padding: 10px;
}